src/Furore.Fhir.Sprinkler.Framework/Configuration/Furore.Fhir.Sprinkler.Framework.ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:Furore.Fhir.Sprinkler.Framework.Configuration" elementFormDefault="qualified" targetNamespace="urn:Furore.Fhir.Sprinkler.Framework.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="testAssembliesConfiguration" type="tns:Furore.Fhir.Sprinkler.Framework.Configuration.TestAssembliesConfigurationCT" />
	<xs:complexType name="Furore.Fhir.Sprinkler.Framework.Configuration.TestAssembliesConfigurationCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="testAssemblies" type="tns:Furore.Fhir.Sprinkler.Framework.Configuration.TestAssembliesCT">
				<xs:annotation>
					<xs:documentation>The TestAssemblies.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Furore.Fhir.Sprinkler.Framework.Configuration.TestAssembliesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="testAssembly" type="tns:Furore.Fhir.Sprinkler.Framework.Configuration.TestAssemblyCT">
				<xs:annotation>
					<xs:documentation>The TestAssembly Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Furore.Fhir.Sprinkler.Framework.Configuration.TestAssemblyCT">
		<xs:attribute name="assemblyName" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The AssemblyName.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
